

body {
    background-color:pink;
}

body header, #calcular {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
}

#nombre {
    margin:0 auto;
    margin-top: 5%;
    text-align:center;
    border-radius: 2em;
}

#calcular {
    margin-top: 5%;
    border: 0.1em dashed black;
    border-radius: 2em;
    cursor:pointer;
}

#calcular:hover {
    background-color: orange;
}

#resultado {
    margin-top: 10%;
    text-align:center;
}

footer {
    text-align:center;
}

@media screen and (max-width:400px) {
  header, #calcular, #resultado {
      font-size: 1.5em;
  }
}

@media screen and (min-width:400px) and (max-width:650px) {
    header, #calcular, #resultado {
        font-size: 3.5em;
    }
}

@media screen and (min-width:650px) {
    body header, #calcular, #resultado {
        font-size: 4em;
    }

    #nombre {
        font-size: 4em;
    }
}