* {
    margin: 0;
    padding:0;
}

body {
    background-color:black;
    color:green;
}

#contenido {
    margin: auto;
    width:fit-content;
    align-items: center;
    margin-top:17%;
}

#titulo {
    font-size:4em;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.enlace {
    width: max-content;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
    border: 0.1em solid black;
    /* border: 0; */
    border-radius:1em;
    transition:1s;
}

.enlace:hover {
    border-color:#008000;
    filter:blur(0);
}

.enlace:first-of-type {
    margin-top:17%;
}

#eruPijama {
    /* float:right; */
    position: fixed;
    right:0;
    bottom: 0;
    /* filter:blur(10px); */
    transition:1s;
    filter:hue-rotate(90deg) blur(5px);
    /* display:flex; */
}


#eruPijama:hover {
    filter:hue-rotate(90deg) blur(0);
}

.blur {
    filter:blur(5px);
}